<section class="landing-background-section">
	<div class="nav">
		<div class="container">
			<div class="row">
				<div class="spacer"></div>
				<ul class="list-inline pull-right nav-list">
					<li><a href="#/about">About</a></li>
					<li><a href="#/pricing">Pricing</a></li>
					<li><a href="#/contact">Contact</a></li>
					<li><a href="#/login">Login/Register</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="full-height-para">
		<div class="container">
			<div class="row">
				<div class="col-md-7 hidden-xs">
					<div class="imac-image">
						<img src="http://demos.creative-tim.com/landing-page/assets/img/showcases/showcase-2/mac1.png" class="img-responsive">
					</div>
				</div>
				<div class="col-md-5">
					<div class="main-title text-center">
						<h1>Rosetta</h1>
						<div class="spacer-large"></div>
						<p class="lead">Task management to make your projects shine</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section>

</section>


<h1>Rosetta</h1>
{{data}}

<a href="/#/projects">Projects</a>